@font-face {
  font-family: 'Arial',
    sans-serif;
  src: url(../../assets/fonts/ArialMT.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Arial',
    sans-serif;
  src: url(../../assets/fonts/Arial-ItalicMT.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia',
    serif;
  src: url(../../assets/fonts/Georgia.ttf);
  font-weight: 400;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
 
  font-family: 'Arial'
    sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #4c4c4c;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px 0 40px;
  display: flex;
}

.header {
  color: #cdcdcd;
  z-index: 10;
  position: sticky;
  top: 0;

  width: 100%;
  padding-top: 30px;
  background-color: #ffffff;
}

.header-block {
  width: 100%;
  display: flex;
justify-content: space-between;
  margin: 0 auto;
}

.logo {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
  /*min-height: 60px;*/
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 184px;
}

.logo-text {
  padding-top: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
  align-self: center;
}

.logo-link{
  text-decoration: none;
  cursor: pointer;
}

.nav {
  min-width: 484px; /**/
  margin-right: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-item {
  list-style: none;
  margin-right: 36px;
  color: #cdcdcd;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #545454;
  transform: 3s;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}

.nav-link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f1cdb3; /*цвет линии*/
  content: '';
  transition: width 0.3s
    ease-out; /*з время анимации*/
}

.nav-link:hover:after,
.nav-link:focus:after {
  width: 100%;
}

.default {
  border-bottom: 2px solid #F1CDB3;
}

/**/
.main {
  padding-top: 30px;

}

.wide {
width: 100%;
}

.pets-slider {
background: #F6F6F6;
padding-top: 58px;
}

.pets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 33px;
}

.title {
  max-width: 400px;
  margin-left: 400px;
  text-align: center;
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
padding-bottom: 33px;
}

span {
  display: block;
}

.pets-slider-card {
  display: flex;
  width: 100%;
  padding-top: 48px;
  min-height: 435px;
}

.pet-card {
  margin-right: 0px;
  text-align: center;
  background: #ffffff;
  margin-bottom: 29px;
}


.pet-card:hover .pet-card-button {
  cursor: pointer;
  background-color: #fddcc4;
  }
  
  .pet-card:hover {
    border-radius: 11px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);;
    transition: all 0.3s ease-in;
    }


.pet-name {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.06em;
color: #545454;
margin: 3px 0;
padding: 24px;
}

.pet-card-button {
width: 187px;
border: 2px solid #f1cdb3;
background: none;
padding: 0;
margin-bottom: 30px;
height: 52px;
border-radius: 35px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
}

.slider {
display: flex;
flex-direction: row;
justify-content: center;
max-width: 340px;
justify-content: space-between;
margin: 0 auto;
padding-bottom: 92px;
}

.active:hover {
background: #FDDCC4;
border-radius: 30px;
height: 49px;
cursor: pointer;
}

.inactive:hover{
cursor: not-allowed;
border-radius: 30px;
}

#footer {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(
      110.67% 538.64% at 5.73%
        50%,
      #513d2f 0%,
      #1a1a1c 100%
    );
  padding-top: 28px;
}

.footer {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 38px;
}

.footer-section {
  justify-content: space-between;
}

.contacts {
  max-width: 288px;
}

.contact,
.location-list {
  padding-left: 0;
}

.contact-item {
  margin-bottom: 33px;
}

.contact-link {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
}

.contact-link-text,
.phone-number {
  margin-left: 18px;
  margin-top: 7px;
}

.location-list {
margin-top: 1px;
}

.location {
  max-width: 300px;
}

.location-item {
  margin-bottom: 28px;
  list-style: none;

}

.adress {
  margin-left: 18px;
}

.another {
  margin-top: 5px;
}

.footer-puppy {
  margin-left: 10px;
  margin-top: 10px;
}

